# Android build files
app/build/
build/
.gradle/
*.keystore
*.idsig
local.properties
twa-manifest.json
manifest-checksum.txt
store_icon.png
gradle/
gradlew
gradlew.bat
settings.gradle
build.gradle
gradle.properties

# Node modules
node_modules/

# Environment files
.env

# OS files
.DS_Store
Thumbs.db
